
@model IEnumerable<GuestBookSystem.Models.Guestbook>
@{
    ViewBag.Title = "首页";
}
<style>
    .table {
        font-family: 微软雅黑;
    }

        .table th,
        .table td {
            border: 1px solid #6495ED;
        }

        .table th {
            color: #ffffff;
            background-color: #4169E1;
        }

        .table td {
            color: #000000;
        }

    .alt {
        background-color: #B0C4DE;
    }
</style>

<h2>欢迎来到339留言本系统</h2>
<ul class="nav nav-tabs">
    <li role="presentation"><a href="/Account/Logout">登陆</a></li>
    <li role="presentation"><a href="/Home/Create">注册</a></li>
</ul>
<h3>所有留言</h3>

<table class="table" id="111">
    <caption>学生名单</caption>
    <tr>
        <th>留言邮箱</th>
        <th>留言时间</th>
        <th>标题</th>
        <th>留言内容</th>
    </tr>
    @foreach (var gb in Model)
    {
        if (gb.IsPass)
        {
            <tr>
                <td>@gb.AuthorEmail</td>
                <td>@gb.CreatedOn</td>
                <td>@gb.Title</td>
                <td>@gb.Content</td>
            </tr>
        }
    }
</table>